.options{
    display: flex;
    justify-content: center;
    align-items: center;
    .option-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   button{
    display: inline;
    padding: 0px;
    font-size: 2rem;
    margin: 1rem;
   }
   button:hover{
    cursor: pointer;

   }
   
}
// sass index.scss output.css

.title, .result, .score{
    display: block;
    text-align: center;
}


.title.is-winner, .result.is-winner, .score.is-winner, .options.is-winner{
    display: none;
}

.game-over{
    display: none;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.game-over.is-winner{
    display: flex;
}